@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.background-top {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0%;
  width: 90%;
}

.background-top img {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 72px;
  position: relative;
}

.header .main-navigation {
  display: none;
  position: absolute;
  right: 3%;
  top: 40%;
}

.header .main-navigation .main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .main-navigation .main-navigation__list .main-navigation__list-item {
  list-style: none;
  margin: 0 1rem;
}

.header .main-navigation .main-navigation__list .main-navigation__list-item a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.2rem;
  color: #fff;
}

.header .main-navigation .main-navigation__list .main-navigation__list-item a img {
  height: 40px;
}

.header .hamburger-icon {
  position: absolute;
  right: 10%;
  top: 50%;
  width: 35px;
  height: 21px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .hamburger-icon div {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hamburger-icon.clicked {
  -webkit-transform: translateX(33%);
          transform: translateX(33%);
}

.header .hamburger-icon.clicked div:nth-child(1) {
  -webkit-transform: rotate(-220deg) translateX(38%);
          transform: rotate(-220deg) translateX(38%);
}

.header .hamburger-icon.clicked div:nth-child(2) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.header .hamburger-icon.clicked div:nth-child(3) {
  -webkit-transform: rotate(220deg) translateX(38%);
          transform: rotate(220deg) translateX(38%);
}

.backdrop {
  display: none;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backdrop.open {
  opacity: 1;
}

.mobile-navigation {
  position: absolute;
  z-index: 10;
  top: calc(7% + 55px);
  right: 50%;
  -webkit-transform: translate(50%, -150%);
          transform: translate(50%, -150%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-navigation .mobile-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-navigation .mobile-navigation__list .mobile-navigation__list-item {
  list-style: none;
  margin: 16px 0;
}

.mobile-navigation .mobile-navigation__list .mobile-navigation__list-item a {
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  padding: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-navigation .mobile-navigation__list .mobile-navigation__list-item a:hover {
  background-color: #fff;
  color: #4619d9;
}

.mobile-navigation .mobile-navigation__list .mobile-navigation__list-item a img {
  height: 40px;
}

.mobile-navigation.open {
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

.section-top {
  width: 100%;
  padding: 0 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-top .section-top__content-area {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.section-top .section-top__content-area h1 {
  font-size: 3rem;
  color: #0b1028;
  margin: 48px 0;
}

.section-top .section-top__content-area p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #8358ff;
}

.section-top .section-top__content-area span {
  display: block;
  margin: 32px 0;
  font-size: 1rem;
}

.section-top .section-top__content-area img {
  height: 40px;
}

.section-top .section-top__image-container {
  display: none;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  height: 100%;
  width: 100%;
}

.section-top .section-top__image-container img {
  height: 100%;
  width: 100%;
}

.section-middle {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-middle .section-middle__image-container {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 32px;
  height: 100%;
  width: 100%;
}

.section-middle .section-middle__image-container img {
  height: 100%;
  width: 100%;
}

.section-middle .section-middle__content-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-middle .section-middle__content-area .section-middle__content {
  margin: 16px 0;
}

.section-middle .section-middle__content-area .section-middle__content h1 {
  color: #4619d9;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.section-middle .section-middle__content-area .section-middle__content p {
  text-align: justify;
}

.section-bottom {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  bottom: 0%;
}

.section-bottom .section-bottom__background {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -2;
}

.section-bottom .section-bottom__illustration {
  width: 50%;
  position: relative;
  left: 5%;
  z-index: -1;
}

@media (min-width: 600px) {
  .section-top {
    padding: 0 32px 32px;
  }
  .section-top .section-top__image-container {
    display: block;
  }
  .section-middle {
    padding: 32px;
  }
  .section-middle .section-middle__image-container {
    display: block;
  }
}

@media (min-width: 900px) {
  .header .main-navigation {
    display: block;
  }
  .header .hamburger-icon {
    display: none;
  }
  .header .backdrop {
    display: none;
  }
  .header .mobile-navigation {
    display: none;
  }
  .section-top {
    padding: 0 64px 64px;
  }
  .section-top .section-top__content-area h1 {
    font-size: 4rem;
  }
  .section-top .section-top__content-area p {
    font-size: 1.5rem;
  }
  .section-top .section-top__content-area span {
    font-size: 1.2rem;
  }
  .section-top .section-top__content-area img {
    height: 50px;
  }
  .section-middle {
    padding: 64px;
  }
  .section-middle h1 {
    font-size: 1.8rem;
  }
  .section-middle p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1300px) {
  .header .main-navigation .main-navigation__list .main-navigation__list-item {
    margin: 0 3rem;
  }
  .header .main-navigation .main-navigation__list .main-navigation__list-item a {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */